header {
	background: rebeccapurple;
}

main {
	background: darkslateblue;
	width: 100%;
	display: flex;
}

aside {
	max-width: 300px;
	width: 100%;
	background: darkmagenta;
}

footer {
	background: rgb(8, 7, 7);
}

.dishes {
	flex: 1;
	width: 100%;
}

#pizza-content {
	font-size: 24px;
	padding: 120px;
	background-color: aqua;

	article {
		margin-bottom: 50px;
	}
}

#burger-content {
	font-size: 24px;
	padding: 120px;
	background-color: bisque;

	article {
		margin-bottom: 50px;
	}
}

#salad-content {
	font-size: 24px;
	padding: 120px;

	article {
		margin-bottom: 50px;
	}
}
