* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  background: transparent;
}
