* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
}

html,
body {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  background: transparent;
}
